ISRobot/Connected Services/ISWebService/ISWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountByManufacturer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_manufacturer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountByManufacturerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountByManufacturerResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountByResolution">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_resolution" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CountByResolutionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CountByResolutionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResolutions">
        <s:complexType />
      </s:element>
      <s:element name="GetResolutionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetResolutionsResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetColumnNames">
        <s:complexType />
      </s:element>
      <s:element name="GetColumnNamesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetColumnNamesResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportToXML">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_columns" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="_fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExportToXMLResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="CountByManufacturerSoapIn">
    <wsdl:part name="parameters" element="tns:CountByManufacturer" />
  </wsdl:message>
  <wsdl:message name="CountByManufacturerSoapOut">
    <wsdl:part name="parameters" element="tns:CountByManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="CountByResolutionSoapIn">
    <wsdl:part name="parameters" element="tns:CountByResolution" />
  </wsdl:message>
  <wsdl:message name="CountByResolutionSoapOut">
    <wsdl:part name="parameters" element="tns:CountByResolutionResponse" />
  </wsdl:message>
  <wsdl:message name="GetResolutionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetResolutions" />
  </wsdl:message>
  <wsdl:message name="GetResolutionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetResolutionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetColumnNamesSoapIn">
    <wsdl:part name="parameters" element="tns:GetColumnNames" />
  </wsdl:message>
  <wsdl:message name="GetColumnNamesSoapOut">
    <wsdl:part name="parameters" element="tns:GetColumnNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ExportToXMLSoapIn">
    <wsdl:part name="parameters" element="tns:ExportToXML" />
  </wsdl:message>
  <wsdl:message name="ExportToXMLSoapOut">
    <wsdl:part name="parameters" element="tns:ExportToXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="ISWebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountByManufacturer">
      <wsdl:input message="tns:CountByManufacturerSoapIn" />
      <wsdl:output message="tns:CountByManufacturerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CountByResolution">
      <wsdl:input message="tns:CountByResolutionSoapIn" />
      <wsdl:output message="tns:CountByResolutionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetResolutions">
      <wsdl:input message="tns:GetResolutionsSoapIn" />
      <wsdl:output message="tns:GetResolutionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetColumnNames">
      <wsdl:input message="tns:GetColumnNamesSoapIn" />
      <wsdl:output message="tns:GetColumnNamesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExportToXML">
      <wsdl:input message="tns:ExportToXMLSoapIn" />
      <wsdl:output message="tns:ExportToXMLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ISWebServiceSoap" type="tns:ISWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountByManufacturer">
      <soap:operation soapAction="http://tempuri.org/CountByManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountByResolution">
      <soap:operation soapAction="http://tempuri.org/CountByResolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResolutions">
      <soap:operation soapAction="http://tempuri.org/GetResolutions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnNames">
      <soap:operation soapAction="http://tempuri.org/GetColumnNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportToXML">
      <soap:operation soapAction="http://tempuri.org/ExportToXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ISWebServiceSoap12" type="tns:ISWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountByManufacturer">
      <soap12:operation soapAction="http://tempuri.org/CountByManufacturer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountByResolution">
      <soap12:operation soapAction="http://tempuri.org/CountByResolution" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResolutions">
      <soap12:operation soapAction="http://tempuri.org/GetResolutions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetColumnNames">
      <soap12:operation soapAction="http://tempuri.org/GetColumnNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportToXML">
      <soap12:operation soapAction="http://tempuri.org/ExportToXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ISWebService">
    <wsdl:port name="ISWebServiceSoap" binding="tns:ISWebServiceSoap">
      <soap:address location="https://localhost:44366/ISWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ISWebServiceSoap12" binding="tns:ISWebServiceSoap12">
      <soap12:address location="https://localhost:44366/ISWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>